html
{
    height: 100%;
}
body
{
 height: 100%;
 background-color: antiquewhite;
}
nav
{
    display: flex;
    justify-content: space-around;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
ul
{
    display: flex;
    list-style: none;
}
li
{
    padding-left: 35px;
    padding-right: 35px;
}
.pencil
{
    height: 50px;
    width: 50px;
}
.tout
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.franboise
{
    height: 300px;
    width: 400px;
}
.Article1
{
    display: flex;
    justify-content: center;
    width: 850px;
    height: 300px;
}
.textlienarticle1
{
    display: flex;
    flex-direction: column;
}
.particle1
{
    margin-left: 20px;
}
.Article2
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 500px;
}
.imageparticle2
{
    height: 180px;
    width: 180px;
}
.tout2
{
    height: 500px;
}
.article2gauche
{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.article2droite
{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 30px;
}
.imageparticledroite
{
    height: 300px;
    width: 390px;
}